/* The Modal (background) */
.age-verification-popup {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 12000; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content */
.age-verification-popup-content {
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 80%;
    padding: 30px;
    overflow: auto;
}

.age-verification-popup-content .title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.age-verification-popup-content .title > p {
    padding: 0;
    margin: 0;
    font-size: inherit;
}

.age-verification-popup-content .age-label {
    margin: 0 auto;
    width: 50px;
    height: 50px;
    background-color: #f0ad4e;
    margin-bottom: 20px;
    overflow: hidden;
}

.age-verification-popup-content .age-label-text {
    color: white;
    font-size: 24px;
    text-align: center;
    padding-top: 14px;
}

.age-verification-popup-content .description {
    text-align: center;
    margin-bottom: 20px;
}

.age-verification-popup-content .description > p {
    padding: 0;
    margin: 0;
    font-size: inherit;
}

.age-verification-popup-content .btn-container {
    text-align: center;
}

.age-verification-popup-content .btn-container .input-age {
    background: rgba(0, 0, 0, 0);
    border-bottom: 1px solid #dcdcdc;
    margin-bottom: 20px;
    display: inline-block;
    padding-right: 40px;
}

/*
margin-right: 20px
 */
.age-verification-popup-content .btn-container .btn-failure {
    display: inline-block;
    width: 145px;
    margin-right: 0px;
    margin-bottom: 20px;
    text-align: center;
}

.age-verification-popup-content .btn-container .btn-failure > p {
    padding: 0;
    margin: 0;
    font-size: inherit;
    word-wrap: break-word;
    width: 100%;
    white-space: normal;
}

.age-verification-popup-content .btn-container .btn-success {
    display: inline-block;
    width: 145px;
    margin-bottom: 20px;
    background-color: #f0ad4e;
    border-color: #eea236;
    color: white;
    text-align: center;
}

.age-verification-popup-content .btn-container .btn-success > p {
    padding: 0;
    margin: 0;
    font-size: inherit;
    word-wrap: break-word;
    width: 100%;
    white-space: normal;
}

.age-verification-popup-content .btn-container .btn-away {
    display: inline-block;
    width: 145px;
    margin-bottom: 20px;
    text-align: center;
}

.age-verification-popup-content .btn-container .btn-away > p {
    padding: 0;
    margin: 0;
    font-size: inherit;
    word-wrap: break-word;
    width: 100%;
    white-space: normal;
}